.container-form {
    opacity: 1;
    width: 90%;
    height: 600px;
    margin: 80px auto;
    display: flex;
    justify-content: center;
}

.container-form-dados {
    border: 3px rgb(216, 224, 224) solid;
    border-radius: 10px;
    width: 960px;
    box-shadow: 1px 1px 5px black;
    background-color: #fff;
    padding: 28px;
}