@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

header {
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 5px black;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-nav-content h1 {
    color: rgb(177, 6, 15);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: lighter;
    font-size: 22px;
    font-weight: bold;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.logo {
    display: flex;
}

img {
    margin-right: 10px;
    width: 20px;
}
